/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
html,
body {
  font-family: 'Lato', sans-serif;
  color: #676f8f;
}

:root {
  --main-color: #ef3340;
  --sec-color: #6769ff;
  --title-color: #494f66;
  --sub-color: #a3abcc;
}

.text-main {
  color: var(--main-color);
}
.bg-main {
  background: var(--main-color);
}
.text-sec {
  color: var(--sec-color);
}
.bg-sec {
  background: var(--sec-color);
}
.text-title {
  color: var(--title-color);
}
.text-sub {
  color: var(--sub-color);
}

.bg-mobile {
  background: #f7f8fc;
}
.border-color {
  border-color: #e4e8f7;
}

select,
input {
  height: 50px;
}
@layer base {
  .container_mobile {
    @apply mx-auto md:mx-0 px-[1.5rem] md:p-0 w-full sm:max-w-[540px] md:max-w-full;
  }
  h2 {
    @apply text-xl;
  }
}

@layer utilities {
  @variants responsive {
    .bg_banner {
      background-image: url('/img/bg_banner.png');
      background-position-x: 100%;
      background-size: cover;
    }
  }
}
